@using System.Web
@model TicketsCinema.Models.BookSeatsViewModel
@{ 
    ViewData["Title"] = "Покупка билетов"; 
}

<div class="container mt-5">

<h2 class="mb-4">Покупка билетов для фильма: @Model.Title</h2>

<div class="mb-4 text-center">
    <h4>Схема рассадки</h4>
    <img src="~/images/Scheme seats.png" alt="Схема мест" class="img-fluid" />
</div>

<form method="post" asp-action="Book">
    <input type="hidden" name="MovieId" value="@Model.MovieId" />

    <button type="submit" class="btn btn-primary mb-2">Купить билеты</button>
    <br />
    <div class="accordion text-white bg-dark" id="seatsAccordion">
    <div class="accordion text-white bg-dark" id="seatsAccordion">
        @for (int i = 0; i < Model.AllSeats.Count(); i += 15)
        {
            var groupSeats = Model.AllSeats.Skip(i).Take(15).ToList();
            var groupId = (i / 15) + 1;
            <div class="accordion-item text-white bg-dark">
                <h2 class="accordion-header" id="heading_@groupId">
                    <button class="accordion-button bg-secondary text-white @if(groupId != 1) { <text>collapsed</text> }" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@groupId" aria-expanded="@((groupId == 1).ToString().ToLower())" aria-controls="collapse_@groupId">
                        Ряд @groupId
                    </button>
                </h2>
                <div id="collapse_@groupId" class="accordion-collapse collapse @if(groupId == 1) { <text>show</text> }" aria-labelledby="heading_@groupId" data-bs-parent="#seatsAccordion">
                    <div class="accordion-body">
                        <div class="row">
                            @foreach (var seat in groupSeats) {
                                if(Model.AvailableSeats.Contains(seat))
                                {
                                    <div class="col-6 col-md-3 mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="SelectedSeatIds" value="@seat.Id" id="seat_@seat.Id" />
                                            <label class="form-check-label" for="seat_@seat.Id">
                                                Место @seat.Id
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-2">Купить билеты</button>

</form>

</div>

@section Scripts {
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["ErrorMessage"].ToString()))');
        </script>
    }
}